pre.terminal
{
   	background-color:	black;
   	color:			lightgreen;
	font-family:		monospace;
	padding:		1em;
	padding-left:		0;
	margin:			0;
}
code.prompt
{
   	font-weight:		bold;
   	background-color:	black;
   	color:			white;
}
ol > li
{
  	margin-top:		.66em;
   	font-weight:		bold;
}
